.admin {
  .font-family {
    width: 48px;
    font-size: 1.5rem;
  }
  .use-cursor {
    cursor: pointer;
  }
  .card-header {
    .sort {
      color: black;
      padding: 4px;
      border: 1px solid black;
      border-radius: 6px;
      &.disabled {
        color: grey;
        border-color: lightgrey;
      }
      &.danger {
        color: #721c24;
        border-color: #721c24;
      }
    }
  }
  &.title {
    border-bottom: none;
    font-size: 1.25rem;
    .library-on.admin {
      background-image: url('./../media/svg/library_on_black.svg');
      height: 2rem;
      width: 8rem;
    }
  }
  // input.form-range {
  // }
}