// $form-range-track-bg: #cccccc;
// $carousel-transition-duration: .6s !default;
// $carousel-transition: transform $carousel-transition-duration linear !default;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

@import 'fonts';
@import 'animation';
@import 'campaign';
@import 'posting-responsive';
@import 'wall';
@import 'post';
@import 'admin';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: black;
}

.spinner-border {
  position: fixed;
  bottom: 0;
  margin: 1rem;
  right: 0;
  &.show-loading {
    display: block;
  }
  &.hide-loading {
    display: none;
  }
}

section#version {
  position: fixed;
  color: darkgray;
  z-index: 999;
  right: 0;
  bottom: 0;
  margin: 1rem;
  font-size: 12px;
  font-family: 'Söhne Leicht';
  line-height: 1;
}

section#page-not-found {
  background: black;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div.everyones {
    width: 14.5rem;
    height: 5.5rem;
    margin-bottom: 0.125em;
    @include media-breakpoint-up(md) {
      width: 16.5rem;
      height: 6.5rem;
      margin-bottom: 0.1875em;
    }
    @include media-breakpoint-up(lg) {
      width: 20.5rem;
      height: 8rem;
      margin-bottom: 0.25em;
    }
  }
  span {
    font-family: "Söhne Halbfett";
    font-size: 1.5rem;
    margin-top: 0.125rem;
    @include media-breakpoint-up(md) {
      font-size: 1.75rem;
      margin-top: 0.1875em;
    }
    @include media-breakpoint-up(lg) {
      font-size: 2rem;
      margin-top: 0.25em;
    }
  }
}
// // ipad mini fixes for demo

// // javascript

// if(navigator?.platform === "iPad"){
//   const body = document.getElementsByTagName('body')[0];
//   body.classList.add("ipad");
// }

// body.ipad {
//   div.h-100.justify-content-evenly.vstack {
//     label.form-label {
//       margin-bottom: 1.5rem;
//     }
//   }
//   div.hstack.gap-4 {
//     div.shape {
//       margin: 0 0.75rem;
//     }
//   }
//   div.justify-content-center.hstack.gap-4 {
//     margin-top: 1.5rem;
//     div.colour-swatch {
//       margin: 0 0.75rem;
//       margin-bottom: 1rem;
//     }
//   }
//   div.h-100.justify-content-evenly.vstack div.hstack.gap-4 {
//     .font-select {
//       margin: 0 0.75rem;
//     }
//   }
//   div.justify-content-center.hstack.gap-4 {
//     button {
//       margin: 0 0.75rem;
//     }
//   }
// }