// v2

.post {
  .message {
    
  }
  // admin
  &.admin {
    position: relative;
    width: 3rem;
    height: 3rem;
    .message {
      position: absolute;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
    .download {
      .message {
    
      }
    }
  }
  // app
  &.app {
    position: relative;
    .message {
      position: absolute;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
    }
  }
  // wall
  .wall {
    .message {
    
    }
  }
}
// common

.display {
  position: relative;
}

// message

.display .message {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

// .preview.app .message {
//   transform: scale(0.5);
// }

.fit {
  line-height: 1;
  text-align: center;
}

// admin

.preview.admin {
  width: 3rem;
  height: 3rem;
}

// posting app

.preview.app {
  position: relative;
  background: black;
}

.preview.app svg {
  position: relative;
  height: 275px;
  max-height: 275px;
}
