.wall {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  .grid {
    display: grid;
    background: black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  // &.logos {
  //   position: fixed;
  //   background-repeat: no-repeat;
  //   background-size: contain;
  // }
  // &.logos {
  //   background-color: #231f20;
  //   right: 0;
  //   background-image: url('./../media/svg/logos.svg');
  //   bottom: 5vh;
  //   height: 14.3vh;
  //   width: 23vw;
  //   background-position: center;
  //   background-origin: content-box;
  //   padding: 1.75vw;
  // }
  .bottom-left {
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    padding: 4vh 2vw;
    .bhcc.on-wall {
      width: 13vw;
      height: 13.5vh;
    }
    .library-on.on-wall {
      width: 10vw;
      height: 4vh;
      margin-left: 3vw;
      margin-top: 2vh; // temp
    }
  }
  .bottom-right {
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 4vh 2vw;
    .join-alt {
      color: white;
      font-family: "Söhne Leicht";
      width: 17vw;
      // font-size: calc(16px + (24 - 16) * (100vw - 1024px) / (1920 - 1024));
      // line-height: 1.1;
      font-size: calc(20px + (36 - 20) * (100vw - 1024px) / (1920 - 1024));
      line-height: 1.25;
      p {
        margin-bottom: 0;
      }
    }
  }
  .top-left {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    padding: 2vh 2vw;
    .tag-line {
      color: white;
      font-family: "Söhne Halbfett";
      width: 25vw;
      // font-size: calc(24px + (36 - 24) * (100vw - 1024px) / (1920 - 1024));
      // line-height: 1.25;
      font-size: calc(20px + (36 - 20) * (100vw - 1024px) / (1920 - 1024));
      line-height: 1.25;
    }
    .everyones.on-wall {
      width: 15vw;
      height: 11vh;
    }
  }
}
.preload-agrandir {
  font-family: "Agrandir Heavy";
  position: fixed;
}
section#video {
  z-index: 1;
  background: black;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
}
