/* fonts */

@font-face {
  font-family: "Agrandir Heavy";
  src: url('./media/fonts/PPAgrandir-TightHeavy.ttf') format('truetype');
}

@font-face {
  font-family: "Söhne Halbfett";
  src: url('./media/fonts/Söhne-Halbfett.otf') format('opentype');
}

.typeface-1 {
  font-family: "Agrandir Heavy", serif;
}

.typeface-2 {
  font-family: "Söhne Halbfett", serif;
}

/* animation */

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}

.pulse {
  animation: pulse 0.5s 0.5s ease-in 3;
}

@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wobble {
  animation: wobble 0.3s 0.5s 5;
}

.measure {
  opacity: 0;
  position: fixed;
  left: -9999px;
}

/* posting app */

main#posting-app {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

main#posting-app header,
main#posting-app footer,
main#posting-app div#contents section#preview,
main#posting-app div#contents section#editor {
  display: flex;
  justify-content: center;
  align-items: center;
}

main#posting-app header {
  background: rgba(255, 0, 0, .25);
  min-height: 10vh;
}

main#posting-app footer {
  background: rgba(0, 255, 0, .25);
  min-height: 10vh;
}

main#posting-app div#contents {
  flex-grow: 1;
  display: flex;
}

main#posting-app div#contents section#preview {
  background: rgba(255, 255, 0, .25);
  flex-grow: 1;
}

main#posting-app div#contents section#editor {
  background: rgba(0, 0, 255, .25);
  flex-grow: 1;
}

main#posting-app div#contents section#editor .carousel {
  width: 100%;
  height: 100%;
}

main#posting-app div#contents section#editor .carousel,
main#posting-app div#contents section#editor .carousel .carousel-inner,
main#posting-app div#contents section#editor .carousel .carousel-inner .carousel-item  {
  height: 100%;
}

main#posting-app div#contents section#editor .carousel .carousel-item .carousel-item-contents {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main#posting-app div#contents section#editor .carousel .carousel-item .carousel-item-contents div {
  background: rgba(0, 255, 255, .25);
}

@media (orientation: portrait) {
  main#posting-app div#contents {
    flex-direction: column;
  }
}

/* @media (any-pointer: fine) {
  main#posting-app div#contents section#editor .touch-device {
    display: none;
  }
}

@media (any-pointer: coarse) {
  main#posting-app div#contents section#editor .mouse-device {
    display: none;
  }
} */

@media only screen and (orientation: landscape) {
  main#posting-app div#contents section#editor, main#posting-app div#contents section#preview {
    width: 50%;
  }
}

@media only screen and (orientation: portrait) {
  main#posting-app div#contents section#editor, main#posting-app div#contents section#preview {
    height: 50%;
  }
}

@media only screen and (orientation: landscape) {
  main#posting-app header, main#posting-app footer {
    min-height: 20vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1199px) and (orientation: landscape) {
  main#posting-app header, main#posting-app footer {
    min-height: 15vh;
  }
}

@media only screen and (min-width: 1200px) {
  main#posting-app {
    height: auto;
  }
  main#posting-app header, main#posting-app footer {
    min-height: auto;
  }
}

/* .cursive {
  font-family: 'Caveat', cursive;
}

.brush {
  font-family: 'Caveat Brush', cursive;
}

.serif {
  font-family: 'DM Serif Display', serif;
}

.sans-serif {
  font-family: 'Red Hat Display', sans-serif;
} */

/* cta and logos */

.wall.cta, .wall.logos {
  position: fixed;
  background-repeat: no-repeat;
  background-size: contain;
}

.wall.cta {
  color: white;
  font-family: "Söhne Halbfett";
  left: 2.8vw;
  bottom: 7vh;
  width: 18vw;
  font-size: calc( 16px + (24 - 16) * (100vw - 1024px) / (1920 - 1024));
  line-height: 1.1;
}

.wall.logos {
  background-color: #231f20;
  right: 0;
  background-image: url('./media/svg/logos.svg');
  bottom: 5vh;
  height: 14.3vh;
  width: 23vw;
  background-position: center;
  background-origin: content-box;
  padding: 1.75vw;
}

/* */

.colour-swatch.app {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid;
}

.shape.app {
  width: 4rem;
  height: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.use-cursor {
  cursor: pointer;
}

.preview.app {
  position: relative;
  background: black;
}

.preview.app svg {
  position: relative;
  height: 275px;
  max-height: 275px;
  /* left: 25px;
  top: 20px; */
}

.preview.admin {
  width: 3rem;
  height: 3rem;
}

/* fluid text */

.display, .preview {
  position: relative;
}

.display {
  
}

.display .message, .preview .message {
  position: absolute;
  text-align: center;
  /* top: 50%;
  transform: translateY(-50%) */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.fit {
  line-height: 1;
  text-align: center;
}

/* .display .message {
  display: block;
  position: absolute;
  font-size: 1.75vw;
  width: 75%;
  text-align: center;
  line-height: 1.1;
  left: 12.5%;
  top: 50%;
  transform: translateY(-50%)
}

.preview.app .message {
  display: block;
  position: absolute;
  font-size: 1.75rem;
  width: 25%;
  text-align: center;
  line-height: 1.1;
  left: 37.5%;
  top: 50%;
  transform: translateY(-50%)
} */

/* .admin .message {
  width: 256px;
} */

.admin .font-family {
  width: 48px;
  font-size: 1.5rem;
}



input[type=radio] {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* wall */

html, body, #root {
  height: 100%;
}

.wall {
  position: relative;
  /* background: #222222; */
  margin: 0 auto;
}

.grid {
  display: grid;
  background: black;
  position:relative;
  top: 50%;
  transform: translateY(-50%);
}

.cell {
  /* position: relative; */
  /* box-sizing: border-box; */
  /* border: 1px dashed #333333; */
}

.cell.display {
  /* position: absolute; */
}

body {
  background: black;
}

.postapp .card {
  background: black;
  color: white;
  height: 590px;
  max-height: 590px;
  max-width: 768px;
}

.card-header .sort {
  color: black;
  padding: 4px;
  border: 1px solid black;
  border-radius: 6px;
}

.card-header .sort.disabled {
  color: grey;
  border-color: lightgrey;
}

.card-header .sort.danger {
  color: red;
  border-color: red;
}

.alert--root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
}

.network-error {
  
}

/* temp logo/cta, editor */

.bhl {
  position: fixed;
  bottom: 5vh;
  width: 20vw;
  height: 9vh;
  background-repeat: no-repeat;
  background-size: contain;
}

/* .bhl.cta {
  left: 5vw;
  background-image: url('./bhl_cta.png');
  background-position: bottom left;
}

.bhl.logo {
  right: 5vw;
  background-image: url('./bhl_logo.png');
  background-position: bottom right;
} */

.preview.app .message {
  transform: scale(0.5);
}